/* Basic Style */

.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: "Lato", sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__img {
  width: 100%;
}

.header .header__details {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {

  .header {
    text-align: center;
  }

}

.task-form {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.input-wrapper__input,
.task-name {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.input-wrapper {
  display: flex;
}

#task-form__incompleted-tasks,
#task-form__completed-tasks {
  margin: 0;
  padding: 0px;
}

.element-save-mode,
.element-edit-mode, 
.form-title {
  list-style: none;
}

.checkbox,
.label-task-name,
.input-task-name,
.button-status,
.button-delete,
.button-add {
  outline: none;
}

.button-status,
.button-delete,
.button-add {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}

.button-status:hover,
.button-delete:hover,
.button-add:hover {
  color: #3a3A3a;
}

/* Heading */

.form-title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.input-task-name {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.input-task-name:focus {
  color: #333;
}

/* New Task */

#task-form__add-task .form-title {
  display: block;
  margin: 0 0 20px;
}

#new-task {
  width: 318px;
}

/* Task list */

.element-save-mode,
.element-edit-mode {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element-save-mode > *,
.element-edit-mode > * {
  vertical-align: middle;
}

.element-save-mode > .checkbox,
.element-edit-mode > .checkbox {
  margin: 0 10px;
}

.element-save-mode > .label-task-name,
.element-save-mode > .label-task-name {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.element-save-mode > .input-task-name,
.element-save-mode > .input-task-name {
    width: 226px;
}

.delete-img {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.delete-img:hover {
  transform: rotateZ(0);
}

/* Completed */

#task-form__completed-tasks .label-task-name {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */

.element-edit-mode .input-task-name,
.element-save-mode .input-task-name {
  display: none;
}

.element-edit-mode .input-task-name {
  display: inline-block;
  width: 224px;
}

.element-edit-mode .label-task-name {
  display: none;
}